*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  line-height: 1.4;
}

*, html, body {
  font-family: courier, monospace;
}

b {
  font-weight: 600;
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #ecf0f3;
  background-color: #ecf0f3;
  cursor: pointer;
  font-size: 17px;
}

button:active,
button:focus,
button:hover {
  border-color: #e2e9ec;
  background-color: #e2e9ec;
}

code {
  background-color: #eff1f2;
  border-radius: 3px;
  padding: 2px 6px;
  display: inline-block;
}

h1 {
  padding: 0;
  margin: 0 0 20px;
}

hr {
  border: none;
  margin: 20px 0;
  padding: 0;
  border-bottom: 1px solid #e3e3e3;
}

p {
  font-size: 16px;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 20px;
}